<nz-layout>
  <app-header (dateChanged)="playerSelect.fetchSchedule($event)"></app-header>
  <nz-content>
    <div nz-row>
      <div nz-col nzXs="1" nzSm="1" nzMd="4" nzLg="4" nzXl="6"></div>
      <div nz-col nzXs="22" nzSm="22" nzMd="16" nzLg="16" nzXl="12">
        <nz-alert *ngIf="showSubFailAlert" nzType="error" nzMessage="請允許通知權限並重新整理頁面"></nz-alert>
        <nz-alert *ngIf="showServerErrorAlert" nzType="error" nzMessage="伺服器錯誤，請稍後再試或聯絡開發人員"></nz-alert>
        <app-player-select #playerSelect (followClicked)="subscriptionTable.followPlayer($event)" [DEBUG_MODE]="DEBUG_MODE"></app-player-select>
        <app-subscription-list #subscriptionTable (playerFollowed)="subscribePlayer($event)"></app-subscription-list>
        <div class="debug">
          <nz-divider></nz-divider>
          <nz-switch [(ngModel)]="DEBUG_MODE"></nz-switch>
        </div>
      </div>
      <div nz-col nzXs="1" nzSm="1" nzMd="4" nzLg="4" nzXl="6"></div>
    </div>
  </nz-content>
  <nz-footer>
    <button nz-button nzType="text" (click)="showHelpModal = true"><i nz-icon nzType="question-circle"></i>使用方法</button>
    <nz-modal [(nzVisible)]="showHelpModal" nzTitle="使用方法" [nzFooter]="null" (nzOnOk)="showHelpModal = false" (nzOnCancel)="showHelpModal = false">
      <ol>
        <li>請允許通知權限以接收選手上場通知 (目前支援電腦Chrome/Edge/Firefox及Android Chrome，不支援iOS行動裝置)</li>
        <li>選擇比賽和想追蹤的球員，按下「+ 追蹤球員」</li>
        <li>目前比賽資料更新頻率為30秒一次，當選手「上場投球(pitching)」、「上場打擊(batting)」，或「是下一棒打者(on deck)」時會發送通知並自動暫停追蹤</li>
        <li>當投手換局下場或打者打席結束後，再按下「繼續追蹤」等待選手下一次上場通知</li>
        <li>如果收到on deck通知，但前一棒是該局最後出局數，需要再按下「繼續追蹤」等待下一局進攻時通知</li>
        <li>可以追蹤非先發選手，當選手上場中繼後援或代打時也會通知，但代跑或守備不會通知</li>
        <li>為減少伺服器負擔，請不要追蹤大量選手 (e.g. 超過5場比賽或超過10位選手)</li>
      </ol>
    </nz-modal>
  </nz-footer>
</nz-layout>
